stack/prototype-local/n8n/Generate_Prototype_ComfyUI_SD15_Artifact_Webhook.json
{
  "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000601",
  "name": "Generate Prototype ComfyUI SD15 Artifact Webhook",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000602",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prototype-comfyui-sd15-artifact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000610",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        360
      ],
      "webhookId": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000611"
    },
    {
      "parameters": {
        "url": "={{ (($json.query && $json.query.comfyuiBaseUrl) || ($json.body && $json.body.comfyuiBaseUrl) || 'http://comfyui:8188') + '/object_info/CheckpointLoaderSimple' }}",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000612",
      "name": "Get Checkpoint Choices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const checkpointNode = $input.first().json?.CheckpointLoaderSimple;\nconst availableCheckpoints = Array.isArray(checkpointNode?.input?.required?.ckpt_name?.[0])\n  ? checkpointNode.input.required.ckpt_name[0]\n  : [];\nconst request = $('Webhook').first().json?.body ?? $('Webhook').first().json ?? {};\nconst promptText = typeof request.prompt === 'string' && request.prompt.trim()\n  ? request.prompt.trim()\n  : 'a studio product photo of a red apple on a table';\nconst negativePrompt = typeof request.negative_prompt === 'string' && request.negative_prompt.trim()\n  ? request.negative_prompt.trim()\n  : 'blurry, low quality, distorted';\nconst requestedCheckpoint = typeof request.checkpoint === 'string' && request.checkpoint.trim()\n  ? request.checkpoint.trim()\n  : (availableCheckpoints.find((name) => /sd.?1\\.5|v1-5/i.test(name)) ?? 'v1-5-pruned-emaonly.safetensors');\nconst seed = Number.isFinite(Number(request.seed)) ? Number(request.seed) : 1;\nconst steps = Number.isFinite(Number(request.steps)) ? Number(request.steps) : 12;\nconst cfg = Number.isFinite(Number(request.cfg)) ? Number(request.cfg) : 7;\nconst width = Number.isFinite(Number(request.width)) ? Number(request.width) : 512;\nconst height = Number.isFinite(Number(request.height)) ? Number(request.height) : 512;\nconst samplerName = typeof request.sampler_name === 'string' && request.sampler_name.trim()\n  ? request.sampler_name.trim()\n  : 'euler';\nconst scheduler = typeof request.scheduler === 'string' && request.scheduler.trim()\n  ? request.scheduler.trim()\n  : 'normal';\nconst clientId = typeof request.client_id === 'string' && request.client_id.trim()\n  ? request.client_id.trim()\n  : 'prototype-local-sd15';\nconst comfyuiBaseUrl = typeof request.comfyuiBaseUrl === 'string' && request.comfyuiBaseUrl.trim()\n  ? request.comfyuiBaseUrl.trim().replace(/\\/$/, '')\n  : 'http://comfyui:8188';\nconst minioPublicBaseUrl = typeof request.minioPublicBaseUrl === 'string' && request.minioPublicBaseUrl.trim()\n  ? request.minioPublicBaseUrl.trim().replace(/\\/$/, '')\n  : 'http://127.0.0.1:9010';\nconst uniqueSuffix = `${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nconst artifactFileName = `prototype-sd15-${uniqueSuffix}.png`;\nconst outputDir = '/home/node/.n8n-files/prototype-comfyui';\nconst outputPath = `${outputDir}/${artifactFileName}`;\n\nreturn [{\n  json: {\n    comfyui_base_url: comfyuiBaseUrl,\n    minio_public_base_url: minioPublicBaseUrl,\n    requestedCheckpoint,\n    availableCheckpoints,\n    checkpointCount: availableCheckpoints.length,\n    prompt: promptText,\n    negativePrompt,\n    width,\n    height,\n    steps,\n    cfg,\n    samplerName,\n    scheduler,\n    clientId,\n    bucket_name: 'artifacts',\n    folder_key: 'prototype-comfyui',\n    artifact_file_name: artifactFileName,\n    object_key: `prototype-comfyui/${artifactFileName}`,\n    output_dir: outputDir,\n    output_path: outputPath,\n    poll_delay_seconds: Number.isFinite(Number(request.poll_delay_seconds)) ? Number(request.poll_delay_seconds) : 10,\n    max_poll_attempts: Number.isFinite(Number(request.max_poll_attempts)) ? Number(request.max_poll_attempts) : 30,\n    comfyPayload: {\n      client_id: clientId,\n      prompt: {\n        '3': {\n          class_type: 'CheckpointLoaderSimple',\n          inputs: {\n            ckpt_name: requestedCheckpoint\n          }\n        },\n        '4': {\n          class_type: 'CLIPTextEncode',\n          inputs: {\n            text: promptText,\n            clip: ['3', 1]\n          }\n        },\n        '5': {\n          class_type: 'CLIPTextEncode',\n          inputs: {\n            text: negativePrompt,\n            clip: ['3', 1]\n          }\n        },\n        '6': {\n          class_type: 'EmptyLatentImage',\n          inputs: {\n            width,\n            height,\n            batch_size: 1\n          }\n        },\n        '7': {\n          class_type: 'KSampler',\n          inputs: {\n            model: ['3', 0],\n            seed,\n            steps,\n            cfg,\n            sampler_name: samplerName,\n            scheduler,\n            positive: ['4', 0],\n            negative: ['5', 0],\n            latent_image: ['6', 0],\n            denoise: 1\n          }\n        },\n        '8': {\n          class_type: 'VAEDecode',\n          inputs: {\n            samples: ['7', 0],\n            vae: ['3', 2]\n          }\n        },\n        '9': {\n          class_type: 'SaveImage',\n          inputs: {\n            images: ['8', 0],\n            filename_prefix: 'prototype_sd15'\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000613",
      "name": "Prepare Generation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.comfyui_base_url + '/prompt' }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.comfyPayload }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000614",
      "name": "Queue Prompt Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $('Prepare Generation').first().json;\nconst response = $input.first().json;\nconst body = response.body ?? {};\nconst nodeErrors = body?.node_errors?.['3']?.errors ?? [];\nconst errorDetails = nodeErrors.length > 0 ? nodeErrors : (body?.error?.details ?? null);\n\nreturn [{\n  json: {\n    queued: response.statusCode >= 200 && response.statusCode < 300,\n    queueAttempted: true,\n    statusCode: response.statusCode ?? null,\n    promptId: body?.prompt_id ?? null,\n    queueNumber: body?.number ?? null,\n    comfyui_base_url: request.comfyui_base_url,\n    minio_public_base_url: request.minio_public_base_url,\n    requestedCheckpoint: request.requestedCheckpoint,\n    availableCheckpoints: request.availableCheckpoints,\n    checkpointCount: request.checkpointCount,\n    prompt: request.prompt,\n    negativePrompt: request.negativePrompt,\n    width: request.width,\n    height: request.height,\n    steps: request.steps,\n    cfg: request.cfg,\n    samplerName: request.samplerName,\n    scheduler: request.scheduler,\n    clientId: request.clientId,\n    bucket_name: request.bucket_name,\n    folder_key: request.folder_key,\n    artifact_file_name: request.artifact_file_name,\n    object_key: request.object_key,\n    output_dir: request.output_dir,\n    output_path: request.output_path,\n    poll_delay_seconds: request.poll_delay_seconds,\n    max_poll_attempts: request.max_poll_attempts,\n    errorType: response.statusCode >= 200 && response.statusCode < 300 ? null : (body?.error?.type ?? 'queue_error'),\n    errorMessage: response.statusCode >= 200 && response.statusCode < 300 ? null : (body?.error?.message ?? response.statusMessage ?? 'Queue request failed'),\n    errorDetails,\n    rawResponse: body,\n    comfyPayload: request.comfyPayload\n  }\n}];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000615",
      "name": "Format Queue Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000616-condition",
              "leftValue": "={{ String($json.queued) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000616",
      "name": "If Queue Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const state = $input.first().json;\nconst env = [\n  `COMFYUI_BASE_URL=${JSON.stringify(state.comfyui_base_url || 'http://comfyui:8188')}`,\n  `PROMPT_ID=${JSON.stringify(state.promptId)}`,\n  `OUTPUT_PATH=${JSON.stringify(state.output_path)}`,\n  `POLL_DELAY_SECONDS=${JSON.stringify(String(state.poll_delay_seconds))}`,\n  `MAX_POLL_ATTEMPTS=${JSON.stringify(String(state.max_poll_attempts))}`\n].join(' ');\n\nconst script = `node - <<'NODE'\nconst fs = require('fs');\nconst { setTimeout: sleep } = require('timers/promises');\n\nconst baseUrl = process.env.COMFYUI_BASE_URL || 'http://comfyui:8188';\nconst promptId = process.env.PROMPT_ID;\nconst outputPath = process.env.OUTPUT_PATH;\nconst pollDelayMs = Number(process.env.POLL_DELAY_SECONDS || '10') * 1000;\nconst maxAttempts = Number(process.env.MAX_POLL_ATTEMPTS || '30');\n\nasync function main() {\n  fs.mkdirSync(require('path').dirname(outputPath), { recursive: true });\n  for (let attempt = 1; attempt <= maxAttempts; attempt += 1) {\n    const historyResponse = await fetch(baseUrl + '/history/' + promptId);\n    if (!historyResponse.ok) {\n      throw new Error('Failed to fetch history: ' + historyResponse.status);\n    }\n    const history = await historyResponse.json();\n    const entry = history[promptId];\n    const completed = entry?.status?.completed === true;\n    const image = entry?.outputs?.['9']?.images?.[0] || null;\n\n    if (completed && image) {\n      const viewUrl = new URL(baseUrl + '/view');\n      viewUrl.searchParams.set('filename', image.filename);\n      viewUrl.searchParams.set('subfolder', image.subfolder || '');\n      viewUrl.searchParams.set('type', image.type || 'output');\n      const fileResponse = await fetch(viewUrl);\n      if (!fileResponse.ok) {\n        throw new Error('Failed to download image: ' + fileResponse.status);\n      }\n      const buffer = Buffer.from(await fileResponse.arrayBuffer());\n      fs.writeFileSync(outputPath, buffer);\n      console.log(JSON.stringify({\n        promptId,\n        pollAttempt: attempt,\n        filename: image.filename,\n        subfolder: image.subfolder || '',\n        type: image.type || 'output',\n        outputPath,\n        bytes: buffer.length\n      }));\n      return;\n    }\n\n    if (completed && !image) {\n      throw new Error('Prompt completed without image output');\n    }\n\n    await sleep(pollDelayMs);\n  }\n\n  throw new Error('Timed out waiting for ComfyUI prompt ' + promptId);\n}\n\nmain().catch((error) => {\n  console.error(JSON.stringify({ promptId, error: error.message }));\n  process.exit(1);\n});\nNODE`;\n\nreturn [{ json: { ...state, poll_command: `${env} ${script}` } }];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000617",
      "name": "Prepare Poll Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "={{ $json.poll_command }}"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000618",
      "name": "Poll And Download Image",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2040,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const state = $('Prepare Poll Command').first().json;\nconst stdout = String($input.first().json.stdout || '').trim();\nif (!stdout) {\n  throw new Error('Poll command did not return download metadata');\n}\n\nlet metadata;\ntry {\n  metadata = JSON.parse(stdout);\n} catch (error) {\n  throw new Error(`Invalid poll metadata: ${stdout}`);\n}\n\nreturn [{\n  json: {\n    ...state,\n    promptId: metadata.promptId || state.promptId,\n    pollAttempt: metadata.pollAttempt ?? null,\n    comfyImageFilename: metadata.filename || null,\n    comfySubfolder: metadata.subfolder || '',\n    comfyImageType: metadata.type || 'output',\n    downloadedBytes: metadata.bytes ?? null,\n    output_path: metadata.outputPath || state.output_path\n  }\n}];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000619",
      "name": "Parse Download Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        220
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.output_path }}",
        "dataPropertyName": "data"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000620",
      "name": "Read Generated Image",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        2560,
        220
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "bucketName": "={{ $json.bucket_name }}",
        "fileName": "={{ $json.artifact_file_name }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "parentFolderKey": "prototype-comfyui"
        }
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000621",
      "name": "Upload To MinIO",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2820,
        220
      ],
      "credentials": {
        "s3": {
          "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000200",
          "name": "Prototype Local MinIO"
        }
      }
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "={{ \"RAW_SESSION_ID=\" + JSON.stringify((($('Webhook').item.json.body && $('Webhook').item.json.body.sessionId) || (($('Webhook').item.json.query && $('Webhook').item.json.query.sessionId) || ''))) + \" RAW_MESSAGE_ID=\" + JSON.stringify((($('Webhook').item.json.body && $('Webhook').item.json.body.messageId) || (($('Webhook').item.json.query && $('Webhook').item.json.query.messageId) || ''))) + \" USER_ID=\" + JSON.stringify((($('Webhook').item.json.body && $('Webhook').item.json.body.userId) || (($('Webhook').item.json.query && $('Webhook').item.json.query.userId) || ''))) + \" PROMPT=\" + JSON.stringify($('Parse Download Result').item.json.prompt) + \" REQUESTED_CHECKPOINT=\" + JSON.stringify($('Parse Download Result').item.json.requestedCheckpoint) + \" PROMPT_ID=\" + JSON.stringify($('Parse Download Result').item.json.promptId) + \" BUCKET_NAME=\" + JSON.stringify($('Parse Download Result').item.json.bucket_name) + \" OBJECT_KEY=\" + JSON.stringify($('Parse Download Result').item.json.object_key) + \" OUTPUT_PATH=\" + JSON.stringify($('Parse Download Result').item.json.output_path) + \" NODE_ID=\" + JSON.stringify('prototype-local-n8n-comfyui') + \" NODE_ROLE=\" + JSON.stringify('n8n.workflow.comfyui-artifact') + \" DISPLAY_NAME=\" + JSON.stringify('Prototype Local n8n ComfyUI Artifact Workflow') + \" SURFACE=\" + JSON.stringify('n8n') + \" OCCURRED_AT=\" + JSON.stringify(new Date().toISOString()) + \" WEBHOOK_PATH=\" + JSON.stringify('prototype-comfyui-sd15-artifact') + \" node - <<'NODE'\\nconst crypto = require('crypto');\\nconst fs = require('fs');\\n\\nconst brokerBaseUrl = 'http://broker:8090';\\nconst env = process.env;\\nconst uniqueSuffix = Date.now() + '-' + Math.random().toString(36).slice(2, 10);\\nconst messageKey = env.RAW_MESSAGE_ID || uniqueSuffix;\\nconst sessionId = env.RAW_SESSION_ID || ('adhoc-session-' + uniqueSuffix);\\nconst runId = 'comfy-run-' + messageKey;\\nconst workflowEventId = 'comfy-workflow-event-' + messageKey;\\nconst artifactEventId = 'comfy-artifact-event-' + messageKey;\\nconst failedEventId = 'comfy-failed-event-' + messageKey;\\nconst artifactId = 'comfy-artifact-' + messageKey;\\nconst uri = 's3://' + env.BUCKET_NAME + '/' + env.OBJECT_KEY;\\nconst mimeType = env.OBJECT_KEY.endsWith('.png') ? 'image/png' : 'application/octet-stream';\\nconst checksumSha256 = crypto.createHash('sha256').update(fs.readFileSync(env.OUTPUT_PATH)).digest('hex');\\nconst workflowEventHash = crypto.createHash('sha256').update(workflowEventId + ':' + runId + ':' + uri).digest('hex');\\nconst artifactEventHash = crypto.createHash('sha256').update(artifactEventId + ':' + runId + ':' + uri).digest('hex');\\n\\nasync function post(path, payload) {\\n  const response = await fetch(brokerBaseUrl + path, {\\n    method: 'POST',\\n    headers: { 'content-type': 'application/json' },\\n    body: JSON.stringify(payload),\\n  });\\n  const body = await response.text();\\n  if (!response.ok) {\\n    throw new Error(path + ' ' + response.status + ' ' + body);\\n  }\\n  return body ? JSON.parse(body) : {};\\n}\\n\\nasync function main() {\\n  await post('/nodes', {\\n    node_id: env.NODE_ID,\\n    node_role: env.NODE_ROLE,\\n    display_name: env.DISPLAY_NAME,\\n    metadata_json: { source: 'n8n.workflow', webhook_path: env.WEBHOOK_PATH },\\n  });\\n  await post('/sessions', {\\n    session_id: sessionId,\\n    node_id: env.NODE_ID,\\n    surface: env.SURFACE,\\n    metadata_json: { source: 'n8n.workflow', user_id: env.USER_ID || null, message_id: env.RAW_MESSAGE_ID || null, webhook_path: env.WEBHOOK_PATH },\\n  });\\n  await post('/runs', {\\n    run_id: runId,\\n    session_id: sessionId,\\n    run_kind: 'n8n.prototype.comfyui.artifact',\\n    status: 'started',\\n    metadata_json: { source: 'n8n.workflow', user_id: env.USER_ID || null, webhook_path: env.WEBHOOK_PATH, prompt_id: env.PROMPT_ID },\\n  });\\n\\n  await post('/events', {\\n    event_id: workflowEventId,\\n    event_type: 'workflow.completed',\\n    payload_version: 1,\\n    node_id: env.NODE_ID,\\n    session_id: sessionId,\\n    run_id: runId,\\n    idempotency_key: env.NODE_ID + ':' + workflowEventId,\\n    occurred_at: env.OCCURRED_AT,\\n    payload_json: { prompt: env.PROMPT, requested_checkpoint: env.REQUESTED_CHECKPOINT, prompt_id: env.PROMPT_ID, bucket: env.BUCKET_NAME, object_key: env.OBJECT_KEY, uri: uri, mime_type: mimeType, checksum_sha256: checksumSha256 },\\n    metadata_json: { source: 'n8n.workflow', webhook_path: env.WEBHOOK_PATH, user_id: env.USER_ID || null },\\n  });\\n\\n  await post('/events', {\\n    event_id: artifactEventId,\\n    event_type: 'artifact.registered',\\n    payload_version: 1,\\n    node_id: env.NODE_ID,\\n    session_id: sessionId,\\n    run_id: runId,\\n    idempotency_key: env.NODE_ID + ':' + artifactEventId,\\n    source_event_id: workflowEventId,\\n    source_event_hash: workflowEventHash,\\n    occurred_at: env.OCCURRED_AT,\\n    payload_json: { artifact_id: artifactId, artifact_kind: 'blob', storage_backend: 's3', bucket: env.BUCKET_NAME, object_key: env.OBJECT_KEY, uri: uri, mime_type: mimeType, checksum_sha256: checksumSha256 },\\n    metadata_json: { source: 'n8n.workflow', webhook_path: env.WEBHOOK_PATH, user_id: env.USER_ID || null, prompt_id: env.PROMPT_ID },\\n  });\\n\\n  await post('/artifacts', {\\n    artifact_id: artifactId,\\n    artifact_kind: 'blob',\\n    source_event_id: artifactEventId,\\n    source_event_hash: artifactEventHash,\\n    storage_backend: 's3',\\n    uri: uri,\\n    mime_type: mimeType,\\n    checksum_sha256: checksumSha256,\\n    metadata_json: { bucket: env.BUCKET_NAME, object_key: env.OBJECT_KEY, prompt: env.PROMPT, requested_checkpoint: env.REQUESTED_CHECKPOINT, prompt_id: env.PROMPT_ID, run_id: runId, session_id: sessionId, webhook_path: env.WEBHOOK_PATH, user_id: env.USER_ID || null },\\n  });\\n\\n  await post('/runs', {\\n    run_id: runId,\\n    session_id: sessionId,\\n    run_kind: 'n8n.prototype.comfyui.artifact',\\n    status: 'completed',\\n    metadata_json: { source: 'n8n.workflow', user_id: env.USER_ID || null, webhook_path: env.WEBHOOK_PATH, artifact_id: artifactId, prompt_id: env.PROMPT_ID, uri: uri, mime_type: mimeType, checksum_sha256: checksumSha256 },\\n  });\\n\\n  console.log(JSON.stringify({ sessionId: sessionId, runId: runId, workflowEventId: workflowEventId, artifactEventId: artifactEventId, artifactId: artifactId, checksumSha256: checksumSha256, mimeType: mimeType, uri: uri }));\\n}\\n\\nmain().catch(async (error) => {\\n  try {\\n    await post('/events', {\\n      event_id: failedEventId,\\n      event_type: 'workflow.failed',\\n      payload_version: 1,\\n      node_id: env.NODE_ID,\\n      session_id: sessionId,\\n      run_id: runId,\\n      idempotency_key: env.NODE_ID + ':' + failedEventId,\\n      occurred_at: env.OCCURRED_AT,\\n      payload_json: { prompt: env.PROMPT, requested_checkpoint: env.REQUESTED_CHECKPOINT, prompt_id: env.PROMPT_ID, bucket: env.BUCKET_NAME, object_key: env.OBJECT_KEY, error: error.message },\\n      metadata_json: { source: 'n8n.workflow', webhook_path: env.WEBHOOK_PATH, user_id: env.USER_ID || null },\\n    });\\n    await post('/runs', {\\n      run_id: runId,\\n      session_id: sessionId,\\n      run_kind: 'n8n.prototype.comfyui.artifact',\\n      status: 'failed',\\n      metadata_json: { source: 'n8n.workflow', webhook_path: env.WEBHOOK_PATH, user_id: env.USER_ID || null, prompt_id: env.PROMPT_ID, error: error.message },\\n    });\\n  } catch (_) {}\\n  console.error(error.message);\\n  process.exit(1);\\n});\\nNODE\" }}"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000625",
      "name": "Register Broker Lineage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3080,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const state = $('Parse Download Result').first().json;\nconst stdout = String($input.first().json.stdout || '').trim();\nif (!stdout) {\n  throw new Error('Broker lineage command did not return metadata');\n}\nlet lineage;\ntry {\n  lineage = JSON.parse(stdout);\n} catch (error) {\n  throw new Error(`Invalid broker lineage metadata: ${stdout}`);\n}\nreturn [{ json: { ...state, sessionId: lineage.sessionId, runId: lineage.runId, eventId: lineage.workflowEventId, artifactEventId: lineage.artifactEventId, artifactId: lineage.artifactId, checksumSha256: lineage.checksumSha256, mimeType: lineage.mimeType, uri: lineage.uri } }];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000626",
      "name": "Parse Broker Lineage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "type": "string",
              "value": "={{ `Generated prototype ComfyUI SD1.5 artifact: s3://${$('Parse Download Result').item.json.bucket_name}/${$('Parse Download Result').item.json.object_key}` }}"
            },
            {
              "id": "imageUrl",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.minio_public_base_url + '/' + $('Parse Download Result').item.json.bucket_name + '/' + $('Parse Download Result').item.json.object_key }}"
            },
            {
              "id": "bucket",
              "name": "bucket",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.bucket_name }}"
            },
            {
              "id": "objectKey",
              "name": "objectKey",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.object_key }}"
            },
            {
              "id": "fileName",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.artifact_file_name }}"
            },
            {
              "id": "localPath",
              "name": "localPath",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.output_path }}"
            },
            {
              "id": "promptId",
              "name": "promptId",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.promptId }}"
            },
            {
              "id": "requestedCheckpoint",
              "name": "requestedCheckpoint",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.requestedCheckpoint }}"
            },
            {
              "id": "pollAttempt",
              "name": "pollAttempt",
              "type": "number",
              "value": "={{ $('Parse Download Result').item.json.pollAttempt }}"
            },
            {
              "id": "comfyImageFilename",
              "name": "comfyImageFilename",
              "type": "string",
              "value": "={{ $('Parse Download Result').item.json.comfyImageFilename }}"
            },
            {
              "id": "downloadedBytes",
              "name": "downloadedBytes",
              "type": "number",
              "value": "={{ $('Parse Download Result').item.json.downloadedBytes }}"
            },
            {
              "id": "imageMarkdown",
              "name": "imageMarkdown",
              "type": "string",
              "value": "={{ '![generated image](' + $('Parse Download Result').item.json.minio_public_base_url + '/' + $('Parse Download Result').item.json.bucket_name + '/' + $('Parse Download Result').item.json.object_key + ')' }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.sessionId }}"
            },
            {
              "id": "runId",
              "name": "runId",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.runId }}"
            },
            {
              "id": "eventId",
              "name": "eventId",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.eventId }}"
            },
            {
              "id": "artifactEventId",
              "name": "artifactEventId",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.artifactEventId }}"
            },
            {
              "id": "artifactId",
              "name": "artifactId",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.artifactId }}"
            },
            {
              "id": "checksumSha256",
              "name": "checksumSha256",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.checksumSha256 }}"
            },
            {
              "id": "mimeType",
              "name": "mimeType",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.mimeType }}"
            },
            {
              "id": "uri",
              "name": "uri",
              "type": "string",
              "value": "={{ $('Parse Broker Lineage').item.json.uri }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000622",
      "name": "Build Artifact Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3080,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000623",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3340,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000624",
      "name": "Respond Queue Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Checkpoint Choices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Checkpoint Choices": {
      "main": [
        [
          {
            "node": "Prepare Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generation": {
      "main": [
        [
          {
            "node": "Queue Prompt Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Prompt Request": {
      "main": [
        [
          {
            "node": "Format Queue Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Queue Response": {
      "main": [
        [
          {
            "node": "If Queue Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Queue Accepted": {
      "main": [
        [
          {
            "node": "Prepare Poll Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Queue Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Poll Command": {
      "main": [
        [
          {
            "node": "Poll And Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll And Download Image": {
      "main": [
        [
          {
            "node": "Parse Download Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Download Result": {
      "main": [
        [
          {
            "node": "Read Generated Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Generated Image": {
      "main": [
        [
          {
            "node": "Upload To MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To MinIO": {
      "main": [
        [
          {
            "node": "Register Broker Lineage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Broker Lineage": {
      "main": [
        [
          {
            "node": "Parse Broker Lineage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Broker Lineage": {
      "main": [
        [
          {
            "node": "Build Artifact Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Artifact Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
