stack/prototype-local/n8n/Get_Prototype_ComfyUI_System_Stats_Webhook.json
{
  "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000401",
  "name": "Get Prototype ComfyUI System Stats Webhook",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000402",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "path": "prototype-comfyui-system-stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000410",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        280
      ],
      "webhookId": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000411"
    },
    {
      "parameters": {
        "url": "={{ (($json.query && $json.query.comfyuiBaseUrl) || ($json.body && $json.body.comfyuiBaseUrl) || 'http://comfyui:8188') + '/system_stats' }}",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000412",
      "name": "Get System Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{ (($json.query && $json.query.comfyuiBaseUrl) || ($json.body && $json.body.comfyuiBaseUrl) || 'http://comfyui:8188') + '/object_info' }}",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000415",
      "name": "Get Object Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        380
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000416",
      "name": "Merge API Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map((item) => item.json || {});\nconst stats = items.find((item) => item.system) || {};\nconst objectInfo = items.find((item) => !item.system) || {};\nconst system = stats.system || {};\nconst devices = Array.isArray(stats.devices) ? stats.devices : [];\nconst nodeTypes = Object.keys(objectInfo).sort();\n\nreturn [{\n  json: {\n    comfyuiReachable: true,\n    os: system.os || null,\n    pythonVersion: system.python_version || null,\n    comfyuiVersion: system.comfyui_version || null,\n    embeddedPython: system.embedded_python || false,\n    deviceCount: devices.length,\n    devices: devices.map((device) => ({\n      name: device.name || null,\n      type: device.type || null,\n      index: device.index ?? null,\n      vramTotal: device.vram_total ?? null,\n      torchVramTotal: device.torch_vram_total ?? null\n    })),\n    nodeTypeCount: nodeTypes.length,\n    sampleNodeTypes: nodeTypes.slice(0, 20)\n  }\n}];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000413",
      "name": "Format System Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000414",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get System Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Object Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Stats": {
      "main": [
        [
          {
            "node": "Merge API Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Object Info": {
      "main": [
        [
          {
            "node": "Merge API Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge API Results": {
      "main": [
        [
          {
            "node": "Format System Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format System Stats": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
