stack/prototype-local/n8n/Queue_Prototype_ComfyUI_SD15_Webhook.json
{
  "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000501",
  "name": "Queue Prototype ComfyUI SD15 Webhook",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000502",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prototype-comfyui-sd15",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000510",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        280
      ],
      "webhookId": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000511"
    },
    {
      "parameters": {
        "url": "={{ (($json.query && $json.query.comfyuiBaseUrl) || ($json.body && $json.body.comfyuiBaseUrl) || 'http://comfyui:8188') + '/object_info/CheckpointLoaderSimple' }}",
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000512",
      "name": "Get Checkpoint Choices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const checkpointNode = $input.first().json?.CheckpointLoaderSimple;\nconst availableCheckpoints = Array.isArray(checkpointNode?.input?.required?.ckpt_name?.[0])\n  ? checkpointNode.input.required.ckpt_name[0]\n  : [];\nconst request = $('Webhook').first().json?.body ?? $('Webhook').first().json ?? {};\nconst promptText = typeof request.prompt === 'string' && request.prompt.trim()\n  ? request.prompt.trim()\n  : 'a studio product photo of a red apple on a table';\nconst negativePrompt = typeof request.negative_prompt === 'string' && request.negative_prompt.trim()\n  ? request.negative_prompt.trim()\n  : 'blurry, low quality, distorted';\nconst requestedCheckpoint = typeof request.checkpoint === 'string' && request.checkpoint.trim()\n  ? request.checkpoint.trim()\n  : (availableCheckpoints.find((name) => /sd.?1\\.5|v1-5/i.test(name)) ?? 'v1-5-pruned-emaonly.safetensors');\nconst seed = Number.isFinite(Number(request.seed)) ? Number(request.seed) : 1;\nconst steps = Number.isFinite(Number(request.steps)) ? Number(request.steps) : 12;\nconst cfg = Number.isFinite(Number(request.cfg)) ? Number(request.cfg) : 7;\nconst width = Number.isFinite(Number(request.width)) ? Number(request.width) : 512;\nconst height = Number.isFinite(Number(request.height)) ? Number(request.height) : 512;\nconst samplerName = typeof request.sampler_name === 'string' && request.sampler_name.trim()\n  ? request.sampler_name.trim()\n  : 'euler';\nconst scheduler = typeof request.scheduler === 'string' && request.scheduler.trim()\n  ? request.scheduler.trim()\n  : 'normal';\nconst clientId = typeof request.client_id === 'string' && request.client_id.trim()\n  ? request.client_id.trim()\n  : 'prototype-local-sd15';\nconst comfyuiBaseUrl = typeof request.comfyuiBaseUrl === 'string' && request.comfyuiBaseUrl.trim()\n  ? request.comfyuiBaseUrl.trim().replace(/\\/$/, '')\n  : 'http://comfyui:8188';\n\nreturn [{\n  json: {\n    comfyui_base_url: comfyuiBaseUrl,\n    requestedCheckpoint,\n    availableCheckpoints,\n    checkpointCount: availableCheckpoints.length,\n    prompt: promptText,\n    negativePrompt,\n    width,\n    height,\n    steps,\n    cfg,\n    samplerName,\n    scheduler,\n    clientId,\n    comfyPayload: {\n      client_id: clientId,\n      prompt: {\n        '3': {\n          class_type: 'CheckpointLoaderSimple',\n          inputs: {\n            ckpt_name: requestedCheckpoint\n          }\n        },\n        '4': {\n          class_type: 'CLIPTextEncode',\n          inputs: {\n            text: promptText,\n            clip: ['3', 1]\n          }\n        },\n        '5': {\n          class_type: 'CLIPTextEncode',\n          inputs: {\n            text: negativePrompt,\n            clip: ['3', 1]\n          }\n        },\n        '6': {\n          class_type: 'EmptyLatentImage',\n          inputs: {\n            width,\n            height,\n            batch_size: 1\n          }\n        },\n        '7': {\n          class_type: 'KSampler',\n          inputs: {\n            model: ['3', 0],\n            seed,\n            steps,\n            cfg,\n            sampler_name: samplerName,\n            scheduler,\n            positive: ['4', 0],\n            negative: ['5', 0],\n            latent_image: ['6', 0],\n            denoise: 1\n          }\n        },\n        '8': {\n          class_type: 'VAEDecode',\n          inputs: {\n            samples: ['7', 0],\n            vae: ['3', 2]\n          }\n        },\n        '9': {\n          class_type: 'SaveImage',\n          inputs: {\n            images: ['8', 0],\n            filename_prefix: 'prototype_sd15'\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000513",
      "name": "Prepare SD15 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.comfyui_base_url + '/prompt' }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.comfyPayload }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000515",
      "name": "Queue Prompt Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1060,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $('Prepare SD15 Prompt').first().json;\nconst response = $input.first().json;\nconst body = response.body ?? {};\nconst nodeErrors = body?.node_errors?.['3']?.errors ?? [];\nconst errorDetails = nodeErrors.length > 0 ? nodeErrors : (body?.error?.details ?? null);\n\nreturn [{\n  json: {\n    queued: response.statusCode >= 200 && response.statusCode < 300,\n    queueAttempted: true,\n    statusCode: response.statusCode ?? null,\n    promptId: body?.prompt_id ?? null,\n    queueNumber: body?.number ?? null,\n    comfyuiBaseUrl: request.comfyui_base_url,\n    requestedCheckpoint: request.requestedCheckpoint,\n    availableCheckpoints: request.availableCheckpoints,\n    checkpointCount: request.checkpointCount,\n    prompt: request.prompt,\n    negativePrompt: request.negativePrompt,\n    width: request.width,\n    height: request.height,\n    steps: request.steps,\n    cfg: request.cfg,\n    samplerName: request.samplerName,\n    scheduler: request.scheduler,\n    errorType: response.statusCode >= 200 && response.statusCode < 300 ? null : (body?.error?.type ?? 'queue_error'),\n    errorMessage: response.statusCode >= 200 && response.statusCode < 300 ? null : (body?.error?.message ?? response.statusMessage ?? 'Queue request failed'),\n    errorDetails,\n    rawResponse: body,\n    comfyPayload: request.comfyPayload\n  }\n}];"
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000516",
      "name": "Format Queue Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e3dfd78-5d5e-4c3f-9ca7-1215aa000514",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1580,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Checkpoint Choices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Checkpoint Choices": {
      "main": [
        [
          {
            "node": "Prepare SD15 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SD15 Prompt": {
      "main": [
        [
          {
            "node": "Queue Prompt Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Prompt Request": {
      "main": [
        [
          {
            "node": "Format Queue Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Queue Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
